<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ssm.dao.UserMapper">
    <insert id="register" parameterType="User">
        insert into user 
        values (
                #{uid},
                #{username},
                #{password},
                #{name},
                #{email},
                #{telephone},
                #{birthday},
                #{sex},
                #{state},
                #{code}
        )
        
    </insert>
    <update id="mailActivate" parameterType="String">
        update user
        set state = 1
        where code = #{activeCode}
    </update>
    <select id="checkUserName" parameterType="String"
        resultType="Long">
        select count(*) 
        from user 
        where username = #{username}
    </select>
    
    <select id="login" parameterType="String"
            resultType="User">
        select *
        from user
        where username = #{username} and password = #{password}
    </select>
    
</mapper>