<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- spring + mybatis 没有必要配置transactionManager，Spring 模块会使用自带的管理器来覆盖前面的配置-->
<configuration>
    <!-- 配置全局属性 -->
    <settings>
        <!--使用jdbc的useGeneratedKeys获取自增主键值-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--使用列别名替换别名　　默认true-->
        <setting name="useColumnLabel" value="true"/>
        <!--&lt;!&ndash;开启驼峰命名转换Table:create_time到 Entity(createTime)&ndash;&gt;-->
        <!--<setting name="mapUnderscoreToCamelCase" value="true"/>-->
    </settings>
</configuration>